@page "{ID:int}"
@model RazorTest.Pages.DetailModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + Model.ArtItem.Title;
    ViewData["Blurb"] = Model.ArtItem.Description;
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>@Model.ArtItem.Type Artwork</h1>
            <h2>@Model.ArtItem.Title - @Model.GetDate()</h2>
            <hr>
            <br>
            <figure><img src=@Model.GetSrcFilePath() alt=@Model.ArtItem.Title></figure>
        </div>
    </div>
</div>