@page
@model IndexModel
@{
    ViewData["Title"] = "Julia Simpkins Portfolio";
    ViewData["Blurb"] = "My Portfolio holds my completed personal pieces of work as well as work studies.  I will be continually adding to this.  The works are divided into two sections, Digital and Traditional.";
}

@{
    // this will be replaced by a db call
    DBManager mgr = new DBManager();
    List<Models.Artwork> lstDigitalItems = Model.LstDigiArt;
    List<Models.Artwork> lstTraditionalItems = Model.LstTradArt;

    string srcFilePath;
}


<div class="jumbotron-ext jumbotron">
    <h1>Digital Artwork</h1>
    <div class="row">
        @foreach (Models.Artwork item in lstDigitalItems)
        {
            srcFilePath = "art/" + item.SrcFile;

            <div class="col-md-6 col-lg-4 col-xl-3 col-4k-2 col-base">
                <div class="img-thumbnail">
                    <a asp-area="" asp-page="Detail" asp-route-ID="@item.ID"><img src=@srcFilePath alt=@item.Title style="width:100%"></a>
                </div>
            </div>
        }
    </div>

    <h1>Traditional Artwork</h1>
    <div class="row">
        @foreach (Models.Artwork tradItem in lstTraditionalItems)
        {
            srcFilePath = "art/" + tradItem.SrcFile;

            <div class="col-md-6 col-lg-4 col-xl-3 col-4k-2 col-base">
                <div class="img-thumbnail">
                    <a asp-area="" asp-page="Detail" asp-route-ID="@tradItem.ID"><img src=@srcFilePath alt=@tradItem.Title style="width:100%"></a>
                </div>
            </div>
        }
    </div>
</div>