@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron-ext jumbotron">
    <h1>Digital Artwork</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='emptystreetnew.html'><img src='art/emptystreetnew.png' alt='Empty Street' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='bookcover.html' target="_parent"><img src='art/SimpkinsBookCover.png' alt='Re-imagined Cover for Evermore by Alyson Noel' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='ideas.html' target="_parent"><img src='art/ideas.png' alt='Ideas' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='tobeydog.html' target="_parent"><img src='art/tobeydog.jpg' alt='TobeyDog' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='otherworldly.html' target="_parent"><img src='art/otherworldly.jpg' alt='Otherworldly' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='alphabet.html' target="_parent"><img src='art/alphabet.png' alt='Alphabet' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='torontoposter.html' target="_parent"><img src='art/torontoposter.png' alt='Toronto Vintage Travel Poster' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='comic.html' target="_parent"><img src='art/comiccover.jpg' alt='Comic Book Cover' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='evermore.html' target="_parent"><img src='art/evermore.png' alt='Evermore Poster' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='enuf.html' target="_parent"><img src='art/SimpkinsRealisticObject.jpg' alt='Dr. Enuf Bottle' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='b0b.html' target="_parent"><img src='art/b0b.png' alt='B.0.B' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='moonscythe.html' target="_parent"><img src='art/scythehaven.jpg' alt='Moon Scythe' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='peaceful.html' target="_parent"><img src='art/peaceful.png' alt='Peaceful Word Art' style="width:100%"></a>
            </div>
        </div>
    </div>
    <h1>Traditional Artwork</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='flower.html' target="_parent"><img src='art/flowerwater.png' alt='Watercolor School Study' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='1point.html' target="_parent"><img src='art/1point.png' alt='One Point Perspective Drawing' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='twopoint.html' target="_parent"><img src='art/twopoint.png' alt='Two Point Perspective Drawing' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='blanket2.html' target="_parent"><img src='art/blanket2.png' alt='Fabric Study 2' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='darkshapes.html' target="_parent"><img src='art/darkshapes.png' alt='Dark Shapes' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='mattissestudy.html' target="_parent"><img src='art/mattissestudy.png' alt='Mattisse Study' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='watercolorme.html' target="_parent"><img src='art/watercolorme.png' alt='Childhood Watercolor' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='cayenne.html' target="_parent"><img src='art/cayenne3.png' alt='Cayenne' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='sillyme.html' target="_parent"><img src='art/sillyme.png' alt='Silly Self Portrait' style="width:100%"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="img-thumbnail">
                <a href='blanket1.html' target="_parent"><img src='art/blanket1.png' alt='Fabric Study 1' style="width:100%"></a>
            </div>
        </div>
    </div>
</div>