@page
@model IndexModel
@{
    ViewData["Title"] = "Julia Simpkins Portfolio";
    ViewData["Blurb"] = "My Portfolio holds my completed personal pieces of work as well as work studies.  I will be continually adding to this.  The works are divided into two sections, Digital and Traditional.";
}

@{
    // this will be replaced by a db call
    DBManager mgr = new DBManager();

    List<Models.ArtItem> lstDigitalItems = mgr.GetDigitalArtwork();
    List<Models.ArtItem> lstTraditionalItems = mgr.GetTraditionalArtwork();
}


<div class="jumbotron-ext jumbotron">
    <h1>Digital Artwork</h1>
    <div class="row">
        @foreach (Models.ArtItem item in lstDigitalItems)
        {
            <div class="col-md-6 col-lg-4 col-xl-3 col-4k-2 col-base">
                <div class="img-thumbnail">
                    <a asp-area="" asp-page=@item.AspPage><img src=@item.SrcFile alt=@item.AltText style="width:100%"></a>
                </div>
            </div>
        }
    </div>

    <h1>Traditional Artwork</h1>
    <div class="row">
        @foreach (Models.ArtItem tradItem in lstTraditionalItems)
        {
            <div class="col-md-6 col-lg-4 col-xl-3 col-4k-2 col-base">
                <div class="img-thumbnail">
                    <a asp-area="" asp-page=@tradItem.AspPage><img src=@tradItem.SrcFile alt=@tradItem.AltText style="width:100%"></a>
                </div>
            </div>
        }
    </div>
</div>