@page
@model RazorTest.Pages.artwork.traditional._1pointModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "One Point Perspective Drawing";
    ViewData["Blurb"] = "Medium:  Ink Pen\n\n"
        + "Notes:  One point perspective drawing of an imagined dorm room.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Traditional Artwork</h1>
            <h2>Dorm Room - 2013</h2>
            <hr>
            <br>
            <figure><img src='~/art/1point.png' alt='One Point Perspective Drawing'></figure>
        </div>
    </div>
</div>