@page
@model RazorTest.Pages.artwork.traditional.blanket1Model
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Fabric Study 1";
    ViewData["Blurb"] = "Medium:  Charcoal\n\n"
        + "Notes:  Fabric study of a fuzzy blanket.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Traditional Artwork</h1>
            <h2>Fabric Study - 2003</h2>
            <hr>
            <br>
            <figure><img src='~/art/blanket1.png' alt='Fabric Study 1'></figure>
        </div>
    </div>
</div>