@page
@model RazorTest.Pages.artwork.traditional.cayenne3Model
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Cayenne";
    ViewData["Blurb"] = "Medium:  Graphite Pencil\n\n"
        + "Notes:  Character from an untitled story I am writing.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Traditional Artwork</h1>
            <h2>Cayenne - 2006</h2>
            <hr>
            <br>
            <figure><img src='~/art/cayenne3.png' alt='Cayenne'></figure>
        </div>
    </div>
</div>