@page
@model RazorTest.Pages.artwork.traditional.darkshapesModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Dark Shapes";
    ViewData["Blurb"] = "Medium:  Charcoal\n\n"
        + "Notes:  Multi-point perspective of shapes in a dark space.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Traditional Artwork</h1>
            <h2>Dark Shapes - 2003</h2>
            <hr>
            <br>
            <figure><img src='~/art/darkshapes.png' alt='Dark Shapes'></figure>
        </div>
    </div>
</div>