@page
@model RazorTest.Pages.artwork.traditional.flowerwaterModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Watercolor School Study";
    ViewData["Blurb"] = "Medium:  Watercolor and Gouche\n\n"
        + "Notes:  Still life of a silk flower, scarf, and toy sword.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Traditional Artwork</h1>
            <h2>Flower - 2003</h2>
            <hr>
            <br>
            <figure><img src='~/art/flowerwater.png' alt='Watercolor School Study'></figure>
        </div>
    </div>
</div>