@page
@model RazorTest.Pages.artwork.traditional.mattissestudyModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Mattisse Study";
    ViewData["Blurb"] = "Medium:  Watercolor and Gouche\n\n"
        + "Notes:  Study of a Mattisse painting.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Traditional Artwork</h1>
            <h2>Mattisse Study - 2003</h2>
            <hr>
            <br>
            <figure><img src='~/art/mattissestudy.png' alt='Mattisse Study'></figure>
        </div>
    </div>
</div>