@page
@model RazorTest.Pages.artwork.traditional.sillymeModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Silly Self Portraity";
    ViewData["Blurb"] = "Medium:  Charcoal\n\n"
        + "Notes:  Referenced from a photo.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Traditional Artwork</h1>
            <h2>Silly Self Portrait - 2003</h2>
            <hr>
            <br>
            <figure><img src='~/art/sillyme.png' alt='Silly Self Portrait'></figure>
        </div>
    </div>
</div>