@page
@model RazorTest.Pages.artwork.traditional.twopointModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Two Point Perspective Drawing";
    ViewData["Blurb"] = "Medium:  Ink Pen\n\n"
        + "Notes:  Two point perspective of an imagined wood cabin and road.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Traditional Artwork</h1>
            <h2>Farm Road - 2013</h2>
            <hr>
            <br>
            <figure><img src='~/art/twopoint.png' alt='Two Point Perspective Drawing'></figure>
        </div>
    </div>
</div>