@page
@model RazorTest.Pages.artwork.traditional.watercolormeModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Childhood Watercolor";
    ViewData["Blurb"] = "Medium:  Watercolor and Gouche\n\n"
        + "Notes:  Referenced from a photo.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Traditional Artwork</h1>
            <h2>Self-Portrait of 3 Year-old Me - 2011</h2>
            <hr>
            <br>
            <figure><img src='~/art/watercolorme.png' alt='Childhood Watercolor'></figure>
        </div>
    </div>
</div>