@media (max-width:767px) {
    .line img {
        display: none;
    }
}

.line img {
    float: right;
    background-color: #fff;
    margin-right: 0;
    height: 101%;
    width: 30px;
    position: fixed;
    z-index: 2;
}

#active {
    text-decoration: none !important;
    color: black !important;
    background-color: #dadada !important;
}

nav {
    background-color: #fff;
}

@media (min-width:200px) {
    .leftnavbutton ul {
        list-style: none;
        text-align: left;
        font-size: 12pt;
        margin-left: 0;
        margin-top: 0;
        height: 100%;
        width: 50px;
        padding: 0;
    }

        .leftnavbutton ul li {
            padding-bottom: 5%;
            width: 100%;
        }

            .leftnavbutton ul li a {
                font-family: 'Raleway', sans-serif;
                display: inline-block;
                text-decoration: none;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: #dadada !important;
                background-color: #808080;
                width: 300px;
            }

                .leftnavbutton ul li a:hover {
                    text-decoration: none;
                    background-color: #dadada;
                    color: black;
                    transition: background-color 5s;
                    transition: color 4s;
                }
}

@media (min-width:525px) {
    .leftnavbutton ul {
        list-style: none;
        text-align: left;
        font-size: 12pt;
        margin-left: 0;
        margin-top: 0;
        height: 100%;
        width: 50px;
        padding: 0;
    }

        .leftnavbutton ul li {
            padding-bottom: 5%;
            width: 100%;
        }

            .leftnavbutton ul li a {
                font-family: 'Raleway', sans-serif;
                display: inline-block;
                text-decoration: none;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: #dadada !important;
                background-color: #808080;
                width: 300px;
            }

                .leftnavbutton ul li a:hover {
                    text-decoration: none;
                    background-color: #dadada;
                    color: black;
                    transition: background-color 5s;
                    transition: color 4s;
                }
}

@media (min-width:768px) {
    .leftnavbutton ul {
        list-style: none;
        text-align: left;
        font-size: 20pt;
        margin-left: 0;
        margin-top: 0;
        height: 100%;
        width: 300px;
        padding: 0;
    }

        .leftnavbutton ul li {
            padding-bottom: 5%;
            width: 100%;
        }

            .leftnavbutton ul li a {
                font-family: 'Raleway', sans-serif;
                display: inline-block;
                text-decoration: none;
                padding-left: 5px;
                padding-right: 5px;
                padding-top: 10px;
                padding-bottom: 10px;
                color: #dadada !important;
                background-color: #808080;
                width: 300px;
            }

                .leftnavbutton ul li a:hover {
                    text-decoration: none;
                    background-color: #dadada;
                    color: black;
                    transition: background-color 5s;
                    transition: color 4s;
                }
}

.rightbig {
    float: right;
    background-color: #808080;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    padding: 0;
    width: 90%;
    height: 100%;
    box-shadow: 10px 0px 25px black inset;
}

.imgfull img {
    min-height: 10%;
    min-width: 10%;
    max-width: 75%;
    max-height: 85vh;
    padding-bottom: 50px;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 0;
    display: grid;
}



.imgfull h1 {
    color: white;
    font-size: 20pt;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 25px;
    font-family: 'Raleway', sans-serif;
}

.imgfull h2 {
    color: #dadada;
    font-size: 14pt;
    font-weight: lighter;
    padding: 0;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 45px;
    font-family: 'Raleway', sans-serif;
}

@media (min-width:2000px) {
    .imgfull h1 {
        font-size: 2.0vw;
    }

    .imgfull h2 {
        font-size: 2.0vw;
    }
}

.imgfull hr {
    width: 600px;
    height: 2px;
    float: left;
    background-color: white;
    color: white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
}

figure {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
}

/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
