@page
@model RazorTest.Pages.artwork.alphabetModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Alphabet";
    ViewData["Blurb"] = "Medium:  Poster board, Alphabits Cereal, and Canan Rebel i5\n\n"
        + "Notes:  School project which was to create an unusual and creative display of the alphabet.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>Alphabet - 2014</h2>
            <hr>
            <br>
            <figure><img src='~/art/alphabet.png' alt='Alphabet'></figure>
        </div>
    </div>
</div>