@page
@model RazorTest.Pages.artwork.b0bModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "B.0.B";
    ViewData["Blurb"] = "Medium:  Illustrator\n\n"
        + "Notes:  School project.  Our class did a round-robin drawing and this was composed based off the images in the resulting drawing from the class.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>B.0.B - 2013</h2>
            <hr>
            <br>
            <figure><img src='~/art/b0b.png' alt='B.0.B'></figure>
        </div>
    </div>
</div>