@page
@model RazorTest.Pages.art_pages.emptystreetnewModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Empty Street";
    ViewData["Blurb"] = "Medium:  Photoshop & Adobe Illustrator\n\n"
        + "Notes:  Referenced from a photo. Loose lines drawn using a combination of the pencil tool an pen tool in Illustrator and then painted inside of Photoshop.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>Empty Street - 10/2017</h2>
            <hr>
            <br>
            <figure><img src='~/art/emptystreetnew.png' alt='Empty Street'></figure>
        </div>
    </div>
</div>