@page
@model RazorTest.Pages.artwork.evermoreModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Evermore Poster";
    ViewData["Blurb"] = "Medium:  Photoshop\n\n"
        + "Notes:  School project.  We were tasked with creating a poster for a non-existant movie.\nThis is a composite of multiple photographs as well as hand drawn imagery.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>Evermore Poster - 2013</h2>
            <hr>
            <br>
            <figure><img src='~/art/evermore.png' alt='Evermore Poster'></figure>
        </div>
    </div>
</div>