@page
@model RazorTest.Pages.artwork.ideasModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Ideas";
    ViewData["Blurb"] = "Medium:  Photoshop\n\n"
        + "Notes:  This was a proposed design for the Blue Plum festival's poster in Johnson City, TN.  Unfortunately, my design was not chosen.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>ideas - 2013</h2>
            <hr>
            <br>
            <figure><img src='~/art/ideas.png' alt='ideas'></figure>
        </div>
    </div>
</div>