@page
@model RazorTest.Pages.artwork.otherworldlyModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Otherworldly";
    ViewData["Blurb"] = "Medium:  Photoshop\n\n"
        + "Notes:  This is a photoshop painting, one of my early digital works.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>Otherworldly - 2012</h2>
            <hr>
            <br>
            <figure><img src='~/art/otherworldly.png' alt='Otherworldly'></figure>
        </div>
    </div>
</div>