@page
@model RazorTest.Pages.artwork.peacefulModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Peaceful Word Art";
    ViewData["Blurb"] = "Medium:  Photoshop\n\n"
        + "Notes:  This was a proposed design for the Blue Plum festival's poster in Johnson City, TN.  Unfortunately, my design was not chosen.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>Peaceful - 2013</h2>
            <hr>
            <br>
            <figure><img src='~/art/peaceful.png' alt='Peaceful Word Art'></figure>
        </div>
    </div>
</div>