@page
@model RazorTest.Pages.artwork.scythehavenModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Moon Scythe";
    ViewData["Blurb"] = "Medium:  Photoshop\n\n"
        + "Notes:  Splash for an old fandom site of mine.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>Moon Scythe - 2005</h2>
            <hr>
            <br>
            <figure><img src='~/art/scythehaven.jpg' alt='Moon Scythe'></figure>
        </div>
    </div>
</div>