@page
@model RazorTest.Pages.artwork.simpkinsrealisticobjectModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Dr. Enuf Bottle";
    ViewData["Blurb"] = "Medium:  Adobe Illustrator\n\n"
        + "Notes:  School project.  This is a recreation of an object utilizing the mesh feature in Illustrator.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>Dr. Enuf Bottle - 2013</h2>
            <hr>
            <br>
            <figure><img src='~/art/SimpkinsRealisticObject.jpg' alt='Dr. Enuf Bottle'></figure>
        </div>
    </div>
</div>