@page
@model RazorTest.Pages.artwork.tobeydogModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "TobeyDog";
    ViewData["Blurb"] = "Medium:  Photoshop\n\n"
        + "Notes:  Composition of several different images.  This showcases my late pup Tobey.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>TobeyDog - 2013</h2>
            <hr>
            <br>
            <figure><img src='~/art/tobeydog.png' alt='TobeyDog'></figure>
        </div>
    </div>
</div>