@page
@model RazorTest.Pages.artwork.torontoposterModel
@{
    ViewData["Title"] = Constants.NAME_WITH_COLON + "Toronto Vintage Travel Poster";
    ViewData["Blurb"] = "Medium:  Adobe Illustrator\n\n"
        + "Notes:  School project which was to create vintage style travel poster of a place you have been.";
}

<div>
    <div class='rightbig'>
        <div class='imgfull'>
            <h1>Digital Artwork</h1>
            <h2>Toronto Vintage Travel Poster - 2014</h2>
            <hr>
            <br>
            <figure><img src='~/art/torontoposter.png' alt='Toronto Vintage Travel Poster'></figure>
        </div>
    </div>
</div>